@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root{
    --text1: 'Roboto Mono', monospace;
    --color1: #013243;
}

*{
    padding: 0%;
    margin: 0%;
    font-family: var(--text1);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/Background.png);
    background-position: center;
}
#caixa{
    width: 800px;
    height: 450px;
    display: flex;
    background-color: #013243 ;
}

/*PARTE DO GRADIENT */
#parte1{
    width: 50%;
    height: 450px;
    text-align: center;
    justify-self: center;
    background-image: url(/img/iPhone\ Mockup.png);
    background-position: center;
    background-size: contain;
}
#parte1 > p{
    font-size: 12px;
    color: hsl(195, 40%, 43%);
}
#parte1 > h1{
    color: white;
    font-size: 1.5em;
    margin-top: 35px;
} 
/*PARTE DO LOGIN*/
#parte2{
    width: 50%;
    height: 450px;
    background-color: white;
}
#parte2 > h1{
    color: black;
    font-size: 1.5em;
    margin-top: 35px;
    margin-left: 40px;
}
/*PARTE DO LOGIN FORMULARIO*/
#parte2 > form{
    margin-top: 20px;
    margin-left: 40px;
    width: 80%;
    height: 70%;
    background-color: rgba(127, 255, 212, 0);
}
#parte2 > form > h3 , p{
    padding: 5px;
}
.check-box > input{
    margin-right: 5px;
}
.check-box{
    display: flex;
    align-items: baseline;
    font-family: var(--text1);
    width: 270px;
    font-size: 15px;
    line-height: 20px;
}
.input-box{
    font-size: 15px;
}
.input-box > input{
    margin: 0.2rem 0;
    padding: 0.8rem 5rem 0.8rem 0.6rem;
    border: inset 1px rgba(75, 75, 75, 0.384);
    border-radius: 5px;
    box-shadow: 1px 1px 6 px #0000001c;
}
.p2 > input { 
    color: white;
    padding: 15px 70px;
    background-color: var(--color1);
    border-radius: 5px;
    cursor: pointer;
}
.p2 > input:hover{
    color: rgb(0, 0, 0);
}

/*CONFIG PARA TABLET*/
@media(max-width:800px){
    main{
        width: 100%;
        height: 809px;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/img/Background.png);
        background-position: center;
    }

    #caixa{
        width: 400px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        background-color: #013243 ;
    }

    #parte1{
        width: 100%;
        height: 50%;
        text-align: center;
        justify-self: center;
        background-image: url(/img/iPhone\ Mockup.png);
        background-position: center ;
        background-size: contain;
    }

    #parte2{
        width: 100%;
        height: 50%;
        background-color: white;
    }

}

/*CONFIG PARA CELULAR*/
@media(max-width:400px){
    main{
        width: 100%;
        height: 809px;
        padding: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/img/Background.png);
        background-position: center;
    }

    #caixa{
        width: 280px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        background-color: #013243 ;
    }

    #parte1{
        width: 100%;
        height: 50%;
        text-align: center;
        justify-self: center;
        background-image: url(/img/iPhone\ Mockup.png);
        background-position: center ;
        background-size: contain;
    }

    #parte2{
        width: 100%;
        height: 50%;
        background-color: white;
    }

}